<% provide(:title, 'employee') %>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@employee) do |f| %>
      <%= render 'shared/error_messages_e' %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :employee_id, "ID" %>
      <%= f.text_field :employee_id %>

      <%= f.label :department %>
      <%= f.text_field :department %>

      <%= f.label :Module %>
      <%= f.text_field :deptType %>

      <%= f.label :blood_group %>
      <%= f.text_field :blood_group %>

      <%= f.label :mobile, "Mobile Number" %>
      <%= f.text_field :mobile %>

      <%= f.label :date_of_birth %>
      <%= f.date_select :date_of_birth, :start_year => 1900 %>

      <%= f.label :emp_date, "Employment date" %>
      <%= f.date_select :emp_date, :start_year => 1970 %>

      <%= f.submit "Create Employee", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
