<h1>Listing employees</h1>

<%= will_paginate %>

<div class="row">
  <div class="span6 offset3">
   
  <%= form_tag search_employees_path, multipart: true do %>

   <%= text_field_tag :word %>
    <%= submit_tag "Search", class: "btn btn-large btn-primary"  %>

    <% end %>
  </div>
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th><h3>Name</h3></th>
      <th><h3>ID</h3></th>
      <th><h3>Department</h3></th>
      <th><h3>Mobile</h3></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><h5><%= employee.name %></h5></td>
        <td><h5><%= employee.employee_id %></h5></td>
        <td><h5><%= employee.department %></h5></td>
        <td><h5><%= employee.mobile%></h5></td>
        <td><%= link_to 'Show', employee, class: "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee), class: "btn btn-primary" %></td>
        <td><%= link_to 'Delete', employee, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= will_paginate %>

<%= link_to 'New Employee', new_employee_path, class: "btn btn-primary" %>
