<% provide(:title, @employee.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @employee.name %> 
      </h1>

      <h4>
        <strong>ID:</strong>
        <%= @employee.employee_id %>
      </h4>
      
      <h4>
        <strong>Department:</strong>
        <%= @employee.department %>
      </h4>

      <h4>
         <strong>Blood group:</strong>
          <%= @employee.blood_group %>
      </h4>

      <h4>
        <strong>Date of birth:</strong>
        <%= @employee.date_of_birth %>
      </h4>

      <h4>
        <strong>Transfer:</strong>
        <%= @employee.Transfer %>
      </h4>
      

    </section>
  </aside>
</div>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
