<% provide(:title, 'Login') %>
<h1>Login</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@patient) do |f| %>
      <%= render 'shared/error_messages_p' %>

      <%= f.label :ID, "ID" %>
      <%= f.text_field :patient_id %>

      <%= f.label :clinic_type, "Clinic Type" %>
      <%= f.select :clinic_type, [["Clinic", "Clinic"], ["Administration", "Administration"], ["VL activity", "VL activity"]] %>


      <%= f.submit "Login to the clinic", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>