<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @patient.id %>
</p>

<p>
  <strong>Clinic:</strong>
  <%= @patient.clinic %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
